body{
  background-image: url(../images/nasa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}
.container, .form{
  padding-top: 1.5em;
  margin-top: 1em;
}
h1, h2{
  text-align: center;
  color: white;
}
.result{
  display: none;
}
.result .well {
  color: #fff;
  background-color: #000;
  opacity: 0.6;
  text-align: center;
}
.result .well img{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.results .well .
